.search__widget,
.sorting__widget select {
  padding: 7px 15px;
  border: 1px solid #fde4e4;
  border-radius: 5px;
  cursor: pointer;
}
.search__widget input {
  outline: none;
  border: none;
}
.search__widget label {
  color: #f36f36;
  font-size: 20px;
  cursor: pointer;
}
.search__widget {
  width: 50%;
}

@media screen and (max-width: 992px) {
  .search__widget input {
    width: 100% !important;
    font-size: 0.8rem;
  }
  .search__widget,
  .sorting__widget select {
    width: 100% !important;
    margin-bottom: 20px;
    font-size: 0.8rem;
  }
}
